/* Global Styles */
@font-face {
	font-family: 'Crystania';
	src: url('../fonts/Crystania.otf') format('opentype'),
     url('../fonts/Crystania.ttf') format('truetype'),
     url('../fonts/crystania.regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
  }

  @font-face {
	font-family: 'Serathine';
	src:
     url('../fonts/Serathine.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
  }

body {
	font-family: 'lato', sans-serif;
	line-height: 1.6;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  }
  
  /* Header Styles */
  .header {
	background-color: #f9edd3;
	padding: 20px 0;
	text-align: center;
	display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .logo {
	width: 200px;
  }
  
  .header h1 {
	font-family: 'Serathine';
	color: #301500;
	margin: 0;
  }
  
  /* Navigation Bar Styles */
  .navbar {
	background: url(/img/green.jpg);
	display: flex;
	justify-content: center;
	margin: 0;
	z-index: 1000; 
	position: relative;
  }
  
  .nav-list {
	list-style-type: none;
	margin: 0;
	padding: 10px;
	display: flex;
	justify-content: center;
  }
  
  .nav-list li {
	margin: 0 20px;
  }
  
  .nav-list li a {
	color: white;
	text-decoration: none;
	font-size: 20px;
  }
  
  .nav-list li a:hover {
	color: #F2B390;
  }

  .menu-toggle {
	display: none; 
	background: none;
	border: none;
	font-size: 1.5rem;
	cursor: pointer;
	z-index: 1001; 
    position: relative;
	margin-left: 40%;
  }
  
  /* Main Content Styles */
  #content {
	background-color: #f9edd3;
	padding: 0;
	display: grid;
    place-items: center;     
    text-align: center;
	flex: 1;
  }
  
  #content h2 {
	font-size: 2rem;
	margin-top: 100px;
	margin-bottom: 40px;
  }
  
  #content img {
	max-width: 100%;
	height: auto;
	margin-bottom: 20px;
  }
  
  #content p {
	font-size: 1.1rem;
	line-height: 1.6;
  }

  .main-image {
	width: 350px;
	height: auto;
	
  }

  /* bodyreading, intuitive, soulreading, reiki */

  .left-container {
	display: flex; 
	align-items: flex-start; 
	gap: 50px; 
	padding: 40px; 
  }

  .main-image {
	width: 40%; 
	max-width: 50px; 
	height: auto; 
  }

  .text-right {
	width: 60%; 
	font-size: 1.1rem;
	line-height: 1.6; 
  }

  /* hero*/

.slideshow-container {
	position: relative;
	width: 100vw;
	overflow: hidden;
	height: 100vh; 
	margin: 0;
	z-index: 1;
  }
  
  .slide {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%; 
	object-fit: cover; 
	opacity: 0; 
	transition: opacity 2s ease-in-out;
	z-index: 1;
  }  
  
  .slide.active {
	opacity: 1;
  }
  
  .slideshow-overlay {
	position: absolute;
	top: 50%; 
	left: 50%; 
	transform: translate(-50%, -50%); 
	color: white; 
	text-align: center; 
	z-index: 2; 
  }
  
  .slideshow-overlay h1, 
  .slideshow-overlay h2 {
	margin: 0;
	padding: 0;
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
	font-size: 2rem; 
  }

  .text18 {
	position: absolute;
	bottom: -250px; 
	left: 50%;
	transform: translateX(-50%);
	color: white;
	font-size: 20px;
	font-weight: 400;
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
	z-index: 3; 
	text-align: center;
  }

    /* contact*/

	.contact-image {
		width: 40%; 
		max-width: 50px; 
		max-height: auto; 
		border-radius: 50%;
	  }
	
	  .text-center {
		text-align: center;
		font-size: 1.1rem;
		line-height: 1.6; 
		max-width: 600px;
		margin: 0 auto;
	  }
	
	  .contact {
		margin-top: 100px;
	  }
	
  
  
  /* Footer Styles */
  .footer {
	background: url(/img/green.jpg);
	color: white;
	text-align: center;
	padding: 5px 0;
	position: relative;
	bottom: 0;
	width: 100%;
	font-size: 1.2rem;
	z-index: 10;
  }
  
  /* Media query for tablets (widths up to 768px) */
@media (max-width: 768px) {
	.menu-toggle {
		display: block; 
	  }
	
	  .navbar {
		display: none; 
		flex-direction: column;
		align-items: center;
		width: 100%;
		position: relative;
		background: url(/img/green.jpg);
		z-index: 10;
		transition: height 0.3s ease-in-out;
	  }
	
	  .navbar.open {
		display: flex; 
	  }
	
	  .nav-list {
		flex-direction: column; 
		width: 100%;
		text-align: center;
		
	  }
	
	  .nav-list li {
		margin: 10px 0;
	  } 
  
	  .left-container {
		display: flex;
		flex-direction: column; 
		align-items: center; 
		text-align: center; 
		gap: 20px; 
	}

	.main-image {
		width: 100%; 
		max-width: 250px; 
		display: block; 
		margin: 0 auto;
	}

	.text-right {
		width: 100%; 
		font-size: 1.1rem;
		line-height: 1.6;
		text-align: center; 
		margin-top: 10px; 
	}
  
	.text-center {
	  font-size: 1rem; 
	  padding: 0 20px; 
	}
  
	#content h2 {
	  font-size: 1.5rem; 
	  margin: 20px 0;
	}
  
	#content p {
	  font-size: 1rem;
	  line-height: 1.5; 
	}
  
	.contact-image {
	  width: 70%; 
	  max-width: 150px;
	  margin: 20px auto; 
	}

	.slideshow-container {
		height: 70vh !important; 
		position: relative;
		margin: 0; 
	  }
	
	  .slide {
		position: absolute;
	    top: 0;
	    left: 0;
		right: 0;
	    width: 100%;
	    height: 100% !important;
	  }
	
	  .slideshow-overlay {
		top: 45%; 
		left: 50%;
		transform: translate(-50%, -50%);
		font-size: 1.5rem; 
		padding: 0 10px; 
	  }
	
	  .slideshow-overlay h1, 
	  .slideshow-overlay h2 {
		font-size: 1.2rem; 
		margin: 0;
	  }
	
	  .text18 {
		bottom: -150px; 
		font-size: 16px; 
		z-index: 2; 
	  }
	
}
  
  /* Media query for phones (widths up to 480px) */
  @media (max-width: 480px) {
	.nav-list {
	  padding: 10px 0;
	}
  
	.logo {
	  width: 150px; 
	}
  
	.main-image {
	  width: 100%; 
	  max-width: 500px;
	  display: block; 
	  margin: 0 auto;
	}
  
	.text-center {
	  font-size: 0.9rem; 
	  line-height: 1.4;
	  padding: 0 10px;
	}
  
	.slideshow-overlay h1,
	.slideshow-overlay h2 {
	  font-size: 1.5rem; 
	}
  
	.slideshow-container {
	  height: 60vh; 
	}
  
	.text18 {
	  bottom: -150px;
	  font-size: 16px; 
	}
  
	.footer {
	  font-size: 1rem; 
	}
}