/* Global Styles */
body {
	font-family: Arial, sans-serif;
	line-height: 1.6;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  }
  
  /* Header Styles */
  .header {
	background-color: #f9edd3;
	padding: 20px 0;
	text-align: center;
  }

  .logo {
	width: 200px;
  }
  
  .header h1 {
	color: #301500;
	margin: 0;
  }
  
  /* Navigation Bar Styles */
  .navbar {
	background-color: #6F7E5D;
  }
  
  .nav-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
  }
  
  .nav-list li {
	margin: 0 20px;
  }
  
  .nav-list li a {
	color: white;
	text-decoration: none;
	font-weight: bold;
  }
  
  .nav-list li a:hover {
	color: #F2B390;
  }
  
  /* Main Content Styles */
  #content {
	background-color: #FCF4E1;
	padding: 40px 20px;
	display: grid;
    place-items: center; 
    height: 100vh;       
    text-align: center;
  }
  
  #content h2 {
	font-size: 2rem;
	margin-bottom: 20px;
  }
  
  #content img {
	max-width: 100%;
	height: auto;
	margin-bottom: 20px;
  }
  
  #content p {
	font-size: 1.1rem;
	line-height: 1.6;
  }
  
  /* Footer Styles */
  .footer {
	background-color: #7A340E;
	color: white;
	text-align: center;
	padding: 20px 0;
	position: relative;
	bottom: 0;
	width: 100%;
  }
  